---
layout: default
---
<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="intro-text">
    Welcome to the Stable Diffusion SDXL artist study! Check out the 'About' page for parameters and prompts used. Note: some of the images are mildly NSFW (artistic nudity etc). Please enjoy and connect with me on Twitter if you have suggestions/feedback.
    - Rikkar <a href="https://twitter.com/socalpathy" target="_blank">@socalpathy</a>
</div>

<div class="search-container">
    <input type="text" id="search-bar" placeholder="Search for an artist..." onkeyup="searchArtist()">
    <div id="search-results"></div>
</div>

<div class="alphabet-nav">
    <a href="{{ site.baseurl }}/index.html">All</a>
    <a href="{{ site.baseurl }}/letters/A.html">A</a>
    <a href="{{ site.baseurl }}/letters/B.html">B</a>
    <a href="{{ site.baseurl }}/letters/C.html">C</a>
    <a href="{{ site.baseurl }}/letters/D.html">D</a>
    <a href="{{ site.baseurl }}/letters/E.html">E</a>
    <a href="{{ site.baseurl }}/letters/F.html">F</a>
    <a href="{{ site.baseurl }}/letters/G.html">G</a>
    <a href="{{ site.baseurl }}/letters/H.html">H</a>
    <a href="{{ site.baseurl }}/letters/I.html">I</a>
    <a href="{{ site.baseurl }}/letters/J.html">J</a>
    <a href="{{ site.baseurl }}/letters/K.html">K</a>
    <a href="{{ site.baseurl }}/letters/L.html">L</a>
    <a href="{{ site.baseurl }}/letters/M.html">M</a>
    <a href="{{ site.baseurl }}/letters/N.html">N</a>
    <a href="{{ site.baseurl }}/letters/O.html">O</a>
    <a href="{{ site.baseurl }}/letters/P.html">P</a>
    <a href="{{ site.baseurl }}/letters/Q.html">Q</a>
    <a href="{{ site.baseurl }}/letters/R.html">R</a>
    <a href="{{ site.baseurl }}/letters/S.html">S</a>
    <a href="{{ site.baseurl }}/letters/T.html">T</a>
    <a href="{{ site.baseurl }}/letters/U.html">U</a>
    <a href="{{ site.baseurl }}/letters/V.html">V</a>
    <a href="{{ site.baseurl }}/letters/W.html">W</a>
    <a href="{{ site.baseurl }}/letters/X.html">X</a>
    <a href="{{ site.baseurl }}/letters/Y.html">Y</a>
    <a href="{{ site.baseurl }}/letters/Z.html">Z</a>
</div>

<div class="grid">
    {% for image in site.static_files %}
        {% if image.path contains 'images' %}
            <div id="{{ image.name | remove: '.jpg' }}">
                <p onclick="copyToClipboard(this)">{{ image.name | remove: '.jpg' }}</p>
                <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.name }}">
            </div>
        {% endif %}
    {% endfor %}
</div>

<button id="back-to-top" onclick="scrollToTop()">↑</button>

<script src="script.js"></script>






