---
layout: default
---
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="search-container">
    <input type="text" id="search-bar" placeholder="Search for an artist..." onkeyup="searchArtist()">
    <div id="search-results"></div>
</div>

<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">
{% assign letter = 'Y' %}
<div class="alphabet-nav">
    <a href="{{ site.baseurl }}/index.html">All</a>
    <a href="{{ site.baseurl }}/pages/A.html">A</a>
    <a href="{{ site.baseurl }}/pages/B.html">B</a>
    <a href="{{ site.baseurl }}/pages/C.html">C</a>
    <a href="{{ site.baseurl }}/pages/D.html">D</a>
    <a href="{{ site.baseurl }}/pages/E.html">E</a>
    <a href="{{ site.baseurl }}/pages/F.html">F</a>
    <a href="{{ site.baseurl }}/pages/G.html">G</a>
    <a href="{{ site.baseurl }}/pages/H.html">H</a>
    <a href="{{ site.baseurl }}/pages/I.html">I</a>
    <a href="{{ site.baseurl }}/pages/J.html">J</a>
    <a href="{{ site.baseurl }}/pages/K.html">K</a>
    <a href="{{ site.baseurl }}/pages/L.html">L</a>
    <a href="{{ site.baseurl }}/pages/M.html">M</a>
    <a href="{{ site.baseurl }}/pages/N.html">N</a>
    <a href="{{ site.baseurl }}/pages/O.html">O</a>
    <a href="{{ site.baseurl }}/pages/P.html">P</a>
    <a href="{{ site.baseurl }}/pages/Q.html">Q</a>
    <a href="{{ site.baseurl }}/pages/R.html">R</a>
    <a href="{{ site.baseurl }}/pages/S.html">S</a>
    <a href="{{ site.baseurl }}/pages/T.html">T</a>
    <a href="{{ site.baseurl }}/pages/U.html">U</a>
    <a href="{{ site.baseurl }}/pages/V.html">V</a>
    <a href="{{ site.baseurl }}/pages/W.html">W</a>
    <a href="{{ site.baseurl }}/pages/X.html">X</a>
    <a href="{{ site.baseurl }}/pages/Y.html">Y</a>
    <a href="{{ site.baseurl }}/pages/Z.html">Z</a>
</div>

<h2>{{ letter }}</h2>

<div class="grid">
    {% for image in site.static_files %}
        {% assign filename = image.name | remove: '.jpg' %}
        {% assign first_char = filename | slice: 0 | upcase %}
        {% if image.path contains 'images' and first_char == letter %}
            <div id="{{ image.name | remove: '.jpg' }}">
                <p onclick="copyToClipboard(this)">{{ image.name | remove: '.jpg' }}</p>
                <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.name }}">
            </div>
        {% endif %}
    {% endfor %}
    </div>

<button id="back-to-top" onclick="scrollToTop()">↑</button>

<script src="{{ '/assets/js/script.js' | relative_url }}"></script>